@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --font-custom: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: var(--font-custom);
}

a,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

body {
  background-color: rgb(41, 38, 38);
  color: white;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

.links {
  width: fit-content;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
}

.links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
}

.links li {
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.links a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
  pointer-events: auto;
  margin: 0 10px 0 10px;
}

.links a span {
  color: inherit;
  transition: color 0.3s ease-in-out;
}

/* .links a:hover {
  color: black;
} */

.homepage::before,
.aboutme::before,
.contact::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: red;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  z-index: 0;
  pointer-events: none;
}
.homepage:hover::before,
.aboutme:hover::before,
.contact:hover::before {
  transform: scale(1);
}

:is(.navbar .title) {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: transform 1s ease;
}

:is(.navbar .title):hover {
  color: white;
  text-shadow: 1px 1px 5px #f00;
  transform: scale(1.2);
  text-shadow: ;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 100%;
  height: calc(100vh - 115px);
}
/* .hero-image {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  background: url(./assets/pexels-hngstrm-1203777.jpg) center / cover no-repeat;
  border-radius: 50px;
} */

.hero-text,
.hero-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-self: center;
  align-self: center;
  text-align: center; */
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: justify;
}

.hero-title {
  font-size: 3rem;
  margin: 0px 0px 10px 0px;
}

.hero-title span {
  color: red;
  font-size: 3rem;
  display: inline-flex;
  transition: transform 1s ease;
}

.hero-title span:hover {
  transform: scale(1.2);
}

#hello {
  background-color: red;
  display: none;
}

.hero-desc-1,
.hero-desc-2 {
  width: 500px;
  font-size: 2rem;
}

.hero-desc-2 .emoji {
  display: inline-block;
  transition: transform 1s ease;
}

.hero-desc-2 .emoji:hover {
  transform: rotate(360deg);
}
